a:link { 
  text-decoration: none; 
}

.topicsBtn:hover { 
  background-color: #00ff51;
  color: black;
}

.topicsBtn {
  background-color: #09772c;
  color: white;
  margin: 6px;
  font-size: 20px;
}

.topicCard {
  background-color: rgba(0, 0, 0, 0.305);
}
