:root {
    --bg-color: rgba(249, 220, 196, 0.0001);
    --bg-hover: rgb(255, 243, 176, 0.9);
    --custom-text: rgb(248, 247, 255);
    --custom-text-hover: rgb(68, 19, 21);
}

.text-white-leaderboard {
    text-align: center;
    color: var(--btn-text);

}
.container {
    max-width: 60%;
    margin-top: 5%;
    text-align: center;
}

.custom-li {
    background-color: var(--bg-color);
    color: var(--custom-text);
    margin: 5px;
    text-align: center;
    width: 60%;
}

.list-group {
    align-items: center;
}
